@page
@model RazorApp2.Pages.RazorPages.Razor3Model
@{
    ViewData["Title"] = "Razor3";
}
<h1>@ViewData["Title"]</h1>

<h3 class="alert-primary">@ViewData["Msg"]</h3>
<h3>@ViewData["Number"]+1</h3>
<h3>@((int)ViewData["Number"]+1)</h3>
<h3>
    @{
        int[] arr = (int[])ViewData["array"];
        for (int i= 0; i < arr.Length; i++ )
        {
            <h4>@arr[i]</h4>
        }
    }
</h3>

